# Ignore editor backups and temporary files
*~
.__afs*

# Ignore binary and test files
thsh
parser_tester
test_env

# Ignore result files
results

# Ignore object files
*.o

# Ignore IDE-specific directories
.idea/

# Ignore challenge text file
challenge.txt

# Ignore build directories
/build/
/bin/
/obj/
/debug/
/release/
